.container {
  width: 90%;
  margin: auto;

}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

button {
  float: right; 
       
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.edit {
  color: rgb(0, 153, 255);  
}

.delete {
  color: red;
}

.mat-dialog-container {
  padding: 0px!important;
}



